/* notice */
.notice-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 50px;
}

.notice-info i {
  color: #d5d5d5;
  margin: 5px;
}

.notice-info i:last-child {
  margin: 10px;
}

/* channel */
.channel-header {
  border-top: var(--border);
  color: #b0b0b0;
  display: flex;
  justify-content: space-between;
  margin: 20px var(--margin);
  padding-top: 15px;
}
