.navi-bar-list {
  display: flex;
  justify-content: space-between;
}

.navi-bar-list__element-a {
  color: #2f363e;
}

.navi-bar {
  background-color: #f9f9fa;
  padding: 25px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.navi-bar-list__element {
  display: flex;
  position: relative;
}
