.red-dot {
  background-color: tomato;
  border-radius: 50%;
}

.red-dot--number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navi-bar-list__element-number {
  width: 23px;
  height: 23px;

  position: absolute;
  left: 20px;
  bottom: 10px;
}

.navi-bar-list__element-dot {
  width: 5px;
  height: 5px;

  position: absolute;
  left: 30px;
  bottom: 20px;
}

.user-profile-extra__dot {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
