.status-bar {
  display: flex;
  margin: 5px;

  position: fixed;
  top: 0;
  width: 100%;
}

.status-bar__element {
  width: 33%;
  display: flex;
  align-items: center;
}
.status-bar__element:nth-child(2) {
  justify-content: center;
}

.status-bar__element:last-child {
  justify-content: flex-end;
}

.status-bar i {
  margin: 0px 2px;
}

.status-bar div:last-child span {
  margin-left: 10px;
}
